In [1]:
# Dependencies
import numpy as np
import pandas as pd
from random import sample

In [2]:
#Read in Files
menu_items = pd.read_csv("Starbucks/Output/full_menu.csv")
exer_df = pd.read_csv("Robert/Output/calperminute.csv")

In [3]:
menu_cals = menu_items[['Item', 'Calories']]
item = menu_cals.head(1)
item

                                         Item  Calories
0  Cool Lime Starbucks Refreshersâ„¢ Beverage        45

In [4]:
exer_df= exer_df[['Exercise', '100', '125', '150', '175', '200', '250', '300']]
exer_df.head()

,Exercise,100,125,150,175,200,250,300
0,Aerobics: low impact,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
1,Aerobics: high impact,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
2,"Aerobics, Step: low impact",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
3,"Aerobics, Step: high impact",7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385

In [5]:
weight = input("Enter your weight:")

Enter your weight:100

In [6]:
five=exer_df.take(np.random.permutation(len(exer_df))[:5])
five.head()

,Exercise,100,125,150,175,200,250,300
25,Gymnastics,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
33,Rock Climbing: ascending,8.771930,11.111111,13.157895,15.625000,17.857143,21.739130,26.315789
28,Horseback Riding,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
52,Volleyball: non-competitive,2.403846,2.994012,3.597122,4.201681,4.807692,6.024096,7.246377
4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385

In [7]:
weight = input("Enter your weight:")

Enter your weight:100

In [9]:
for index, row in five.iterrows():
    if weight == '100':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '125':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '150':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '175':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '200':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '250':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)
    if weight == '300':
        minutes =(int(item['Calories']/row['100']))
        print( row['Exercise'], minutes)

Gymnastics 14
Rock Climbing: ascending 5
Horseback Riding 14
Volleyball: non-competitive 18
Aerobics: water 14