In [1]:
import pandas as pd
import numpy as np

In [2]:
data = "excercise3.csv"
data_df = pd.read_csv(data)
data_df.head()

                      Exercise  100  125  150 175 200 250 300
0         Aerobics: low impact  114   91   76  65  57  45  38
1        Aerobics: high impact   89   71   60  51  45  36  30
2   Aerobics, Step: low impact   89   71   60  51  45  36  30
3  Aerobics, Step: high impact   63   50   42  36  31  25  21
4              Aerobics: water  156  125  104  89  78  63  52

In [ ]:
data_df.info()

In [3]:
df = data_df.astype({"Excercise":str, "100":int , "125":int , "150":int , "175":int , "200":int , "250":int , "300":int})

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [4]:
# convert just columns "a" and "b"
# df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

data_df[["100", "125", "150", "175", "200", "250", "300"]] = data_df[["100", "125", "150", "175", "200", "250", "300"]].apply(pd.to_numeric, errors='ignore')

In [39]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
Exercise    63 non-null object
100         63 non-null object
125         63 non-null object
150         63 non-null object
175         63 non-null object
200         63 non-null object
250         63 non-null object
300         63 non-null object
dtypes: object(8)
memory usage: 4.0+ KB

In [42]:
numeric_df = pd.DataFrame()

In [46]:
cols = data_df.columns
for col in cols:
    if col == 'Exercise':
        numeric_df[col] = data_df[col]
    else:
        numeric_df[col] = data_df[col].map(lambda row: pd.to_numeric(row, errors='coerce'))

In [47]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
Exercise    63 non-null object
100         62 non-null float64
125         62 non-null float64
150         62 non-null float64
175         62 non-null float64
200         62 non-null float64
250         62 non-null float64
300         62 non-null float64
dtypes: float64(7), object(1)
memory usage: 4.0+ KB

In [48]:
numeric_df.dropna(inplace=True)

In [49]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 8 columns):
Exercise    62 non-null object
100         62 non-null float64
125         62 non-null float64
150         62 non-null float64
175         62 non-null float64
200         62 non-null float64
250         62 non-null float64
300         62 non-null float64
dtypes: float64(7), object(1)
memory usage: 4.4+ KB

In [50]:
numeric_df.head()

                      Exercise    100    125    150   175   200   250   300
0         Aerobics: low impact  114.0   91.0   76.0  65.0  57.0  45.0  38.0
1        Aerobics: high impact   89.0   71.0   60.0  51.0  45.0  36.0  30.0
2   Aerobics, Step: low impact   89.0   71.0   60.0  51.0  45.0  36.0  30.0
3  Aerobics, Step: high impact   63.0   50.0   42.0  36.0  31.0  25.0  21.0
4              Aerobics: water  156.0  125.0  104.0  89.0  78.0  63.0  52.0

In [54]:
for col in cols:
    if col == 'Exercise':
        continue
    numeric_df[col] = 500 / numeric_df[col]

In [55]:
numeric_df.head()

,Exercise,100,125,150,175,200,250,300
0,Aerobics: low impact,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
1,Aerobics: high impact,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
2,"Aerobics, Step: low impact",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
3,"Aerobics, Step: high impact",7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385

In [56]:
 numeric_df

,Exercise,100,125,150,175,200,250,300
0,Aerobics: low impact,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
1,Aerobics: high impact,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
2,"Aerobics, Step: low impact",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
3,"Aerobics, Step: high impact",7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
5,"Bicycling, Stationary: moderate",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
6,"Bicycling, Stationary: vigorous",8.333333,10.416667,12.500000,14.705882,16.666667,20.833333,25.000000
7,Circuit Training,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
8,"Rowing, Stationary: moderate",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
9,"Rowing, Stationary: vigorous",6.756757,8.474576,10.204082,11.904762,13.513514,17.241379,20.000000
10,Ski Machine,7.575758,9.433962,11.363636,13.157895,15.151515,19.230769,22.727273
11,Stair Stepper,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
12,Weight Lifting: light,2.403846,2.994012,3.597122,4.201681,4.807692,6.024096,7.246377
13,Weight Lifting: vigorous,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
14,Basketball: playing a game,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
15,Basketball: wheelchair,5.813953,6.493506,7.812500,9.090909,10.416667,13.157895,15.625000
16,Bicycling: BMX or mountain,6.756757,8.474576,10.204082,11.904762,13.513514,17.241379,20.000000
17,Bicycling: 12-13.9ph,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
18,Bicycling: 14-15.9ph,7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
19,Boxing: sparring,7.246377,8.928571,10.869565,12.500000,14.285714,17.857143,21.739130
20,Football: competitive,7.246377,8.928571,10.869565,12.500000,14.285714,17.857143,21.739130
21,Football: touch or flag,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
22,Frisbee,2.403846,2.994012,3.597122,4.201681,4.807692,6.024096,7.246377
23,Golf: carrying clubs,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
24,Golf: using cart,2.793296,3.496503,4.201681,4.901961,5.050505,7.042254,8.333333
25,Gymnastics,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
26,Handball,9.615385,11.904762,14.285714,16.666667,19.230769,23.809524,29.411765
27,Hiking: cross-country,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
28,Horseback Riding,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
29,Ice Skating,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
...,...,...,...,...,...,...,...,...
32,Racquetball: casual,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
33,Rock Climbing: ascending,8.771930,11.111111,13.157895,15.625000,17.857143,21.739130,26.315789
34,Rock Climbing: rapelling,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
35,Rollerblade (inline) Skating,5.617978,2.923977,8.333333,9.803922,11.111111,13.888889,16.666667
36,Rope Jumping,7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
37,Running: 5ph (12min/mile),6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
38,Running: 5.2ph (11.5min/mile),7.246377,8.928571,10.869565,12.500000,14.285714,17.857143,21.739130
39,Running: 6ph (10min/mile),7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
40,Running: 6.7ph (9min/mile),8.771930,11.111111,13.157895,15.625000,17.857143,21.739130,26.315789
41,Running: 7.5ph (8min/mile),10.000000,12.500000,15.151515,17.241379,20.000000,25.000000,29.411765
42,Running: 8.6ph (7min/mile),11.627907,14.705882,17.241379,20.000000,22.727273,29.411765,35.714286
43,Running: 10ph (6min/mile),13.157895,16.666667,20.000000,22.727273,26.315789,33.333333,38.461538
44,Running: pushing wheelchair,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
45,Running: cross-country,7.246377,8.928571,10.869565,12.500000,14.285714,17.857143,21.739130
46,Skiing: cross-country,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
47,Skiing: downhill,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
48,Snow Shoeing,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
49,Softball: general play,4.000000,5.000000,6.024096,7.042254,7.936508,10.000000,11.904762
50,Swimming: general,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
51,Tennis: general,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
52,Volleyball: non-competitive,2.403846,2.994012,3.597122,4.201681,4.807692,6.024096,7.246377
53,Volleyball: competitive,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
54,Volleyball: beach,6.410256,7.936508,9.615385,11.111111,12.820513,16.129032,19.230769
55,Walk: 3.5ph (17min/mile),3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385
56,Walk: 4ph (15min/mile),3.597122,4.504505,5.376344,6.329114,7.246377,8.928571,10.869565
57,Walk: 4.5ph (13min/mile),4.000000,5.000000,6.024096,7.042254,7.936508,10.000000,11.904762
58,Walk/Jog: jog <10min.,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
59,Water Skiing,4.807692,6.024096,7.246377,8.333333,9.615385,11.904762,14.285714
60,Water Polo,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
61,"Whitewater: rafting, kayaking",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667

In [58]:
export_csv = numeric_df.to_csv (r'calperminute.csv')