In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import os
from secrets import username, password

Extract CSVs into DataFrames

In [2]:
source_file = os.path.join(".","calperminute.csv")
cal_df = pd.read_csv(source_file)
cal_df.head()

,Unnamed: 0,Exercise,100,125,150,175,200,250,300
0,0,Aerobics: low impact,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
1,1,Aerobics: high impact,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
2,2,"Aerobics, Step: low impact",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
3,3,"Aerobics, Step: high impact",7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
4,4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385

In [3]:
new_cal_df = cal_df[['Exercise', '100', '125', '150', '175', '200', '250', '300']]
new_cal_df.head()

,Exercise,100,125,150,175,200,250,300
0,Aerobics: low impact,4.385965,5.494505,6.578947,7.692308,8.771930,11.111111,13.157895
1,Aerobics: high impact,5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
2,"Aerobics, Step: low impact",5.617978,7.042254,8.333333,9.803922,11.111111,13.888889,16.666667
3,"Aerobics, Step: high impact",7.936508,10.000000,11.904762,13.888889,16.129032,20.000000,23.809524
4,Aerobics: water,3.205128,4.000000,4.807692,5.617978,6.410256,7.936508,9.615385

In [4]:
new_cal_df.to_csv(r'Output\calperminute.csv')

Create database connection

In [5]:
#connection_string = "robertsayler@gmail.com:z7SSFub5bG8D9Jq@127.0.0.1/customer_db"
rawDbName = "Exercise_Raw"
rds_connection_string = f"{username}:{password}@127.0.0.1/"
engine = create_engine(f'mysql://{rds_connection_string}')

connection = engine.connect()
connection.execute('CREATE DATABASE Exercise_Raw;')
connection.execute('USE Exercise_Raw;')

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'Exercise_Raw'; database exists") [SQL: 'CREATE DATABASE Exercise_Raw;'] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
db_connection_string = f"{username}:{password}@localhost/{rawDbName}"
db_engine = create_engine(f'mysql://{db_connection_string}')

# Confirm tables
db_engine.table_names()
new_cal_df.to_sql(name='Calories per Minute', con=db_engine, if_exists='replace', index = False)